/* general styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header, nav, main, footer {
	display: block;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}

/* header styles */
header {
	background-color: #333;
	color: #fff;
	text-align: center;
}


h1 {
	margin: 0;
}

/* navigation styles */
nav {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0;
	padding: 10px;
}

nav a {
	color: #333;
	text-decoration: none;
}

nav a:hover {
	background-color: #333;
	color: #fff;
}

/* main content styles */
main {
	background-color: #fff;
	padding: 20px;
}

section {
	margin-bottom: 20px;
	margin: 10px 20px;
	margin-top: 30px;
}

h2 {
	margin-top: 0;
}

ul {
	list-style: disc;
	margin-left: 20px;
}

/* video styles */
video {
	max-width: 100%;
	height: auto;
}

/* footer styles */
footer {
	background-color: #333;
	color: #fff
}
.pano {
	display: flex;
	justify-content: center;
	height: 300px;
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
}

.item img {
	max-width: 200px;
	max-height: 200px;
	height: auto;
}
.gif {
	display: flex;
	max-width: 500px;
	height: auto;
}







